$total-columns: 12;

.main-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat($total-columns, 1fr);
}

[class*='col-'] {
  padding: 0.5rem;
  border: 1px solid steelblue;
  background: lightblue;
  text-align: center;
}

@for $count from 1 through $total-columns {
  .col-#{$count} {
    grid-column: span $count;
  }
}
