@use '../abstracts' as *;

@each $size-name, $size-value in $font-sizes {
  .fs-#{$size-name} {
    font-size: $size-value;

    @if $size-name > 600 and $size-name < 800 {
      line-height: 1.1;
    } @else if $size-name > 800 {
      line-height: 1.6;
    }
  }
}
